In [22]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

## Store CSV into DataFrame

In [58]:
#main: read in csv and print results
csv = "Resources/2019_nCoV_data.csv"
main_df = pd.read_csv(csv)
main_df

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1.0,0.0,0.0
1,2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14.0,0.0,0.0
2,3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6.0,0.0,0.0
3,4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1.0,0.0,0.0
4,5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
1714,1715,02/17/2020 22:00:00,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1715,1716,02/17/2020 22:00:00,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1716,1717,02/17/2020 22:00:00,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
1717,1718,02/17/2020 22:00:00,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1718,1719,02/17/2020 22:00:00,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [35]:
#confirmed: read in csv
csv_confirmed = "Resources/time_series_covid_19_confirmed.csv"
confirmed_df = pd.read_csv(csv_confirmed)
confirmed_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20
0,Anhui,Mainland China,31.82571,117.2264,1,9,15,39,60,70,...,860,889,910,934,950,962,973,982,986,987
1,Beijing,Mainland China,40.18238,116.4142,14,22,36,41,68,80,...,342,352,366,372,375,380,381,387,393,395
2,Chongqing,Mainland China,30.05718,107.8740,6,9,27,57,75,110,...,505,518,529,537,544,551,553,555,560,567
3,Fujian,Mainland China,26.07783,117.9895,1,5,10,18,35,59,...,267,272,279,281,285,287,290,292,293,293
4,Gansu,Mainland China,36.06110,103.8343,0,2,2,4,7,14,...,86,87,90,90,90,90,91,91,91,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Diamond Princess cruise ship,Others,35.44370,139.6380,0,0,0,0,0,0,...,135,175,175,218,285,355,454,542,621,634
72,"San Diego County, CA",US,32.71570,-117.1611,0,0,0,0,0,0,...,1,1,2,2,2,2,2,2,2,2
73,"San Antonio, TX",US,29.42410,-98.4936,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
74,NaN,Egypt,26.82060,30.8025,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
75,NaN,Iran,32.42790,53.6880,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,5

In [54]:
#deaths: read in csv
csv_deaths = "Resources/time_series_covid_19_deaths.csv"
deaths_df = pd.read_csv(csv_deaths)
deaths_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20
0,Anhui,Mainland China,31.82571,117.2264,0,0,0,0,0,0,...,4,4,5,6,6,6,6,6,6,6
1,Beijing,Mainland China,40.18238,116.4142,0,0,0,0,0,1,...,3,3,3,3,4,4,4,4,4,4
2,Chongqing,Mainland China,30.05718,107.8740,0,0,0,0,0,0,...,3,3,4,5,5,5,5,5,5,6
3,Fujian,Mainland China,26.07783,117.9895,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Gansu,Mainland China,36.06110,103.8343,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Diamond Princess cruise ship,Others,35.44370,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
72,"San Diego County, CA",US,32.71570,-117.1611,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73,"San Antonio, TX",US,29.42410,-98.4936,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,NaN,Egypt,26.82060,30.8025,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75,NaN,Iran,32.42790,53.6880,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2

In [52]:
#recovered: read in csv
csv_recovered = "Resources/time_series_covid_19_recovered.csv"
recovered_df = pd.read_csv(csv_recovered)
recovered_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20
0,Anhui,Mainland China,31.82571,117.2264,0,0,0,0,0,0,...,105,127,157,193,221,255,280,361,413,474
1,Beijing,Mainland China,40.18238,116.4142,0,0,1,2,2,2,...,48,56,69,80,98,108,114,122,145,153
2,Chongqing,Mainland China,30.05718,107.8740,0,0,0,0,0,0,...,79,102,128,152,184,207,225,254,274,299
3,Fujian,Mainland China,26.07783,117.9895,0,0,0,0,0,0,...,45,53,57,63,71,82,90,93,112,126
4,Gansu,Mainland China,36.06110,103.8343,0,0,0,0,0,0,...,24,31,39,39,49,54,58,62,65,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Diamond Princess cruise ship,Others,35.44370,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
72,"San Diego County, CA",US,32.71570,-117.1611,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73,"San Antonio, TX",US,29.42410,-98.4936,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,NaN,Egypt,26.82060,30.8025,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75,NaN,Iran,32.42790,53.6880,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Clean DataFrame

In [ ]:
#clean 'main_df'
clean_main_df = main_df[[""]]

In [27]:
#clean confirmed_df; only show 'Province/State', 'Country/Region', 'Lat', 'Long'; then make copy with 'copy()'
clean_confirmed_df = confirmed_df[["Province/State", "Country/Region", "Lat", "Long"]].copy()
clean_confirmed_df

                  Province/State  Country/Region       Lat      Long
0                          Anhui  Mainland China  31.82571  117.2264
1                        Beijing  Mainland China  40.18238  116.4142
2                      Chongqing  Mainland China  30.05718  107.8740
3                         Fujian  Mainland China  26.07783  117.9895
4                          Gansu  Mainland China  36.06110  103.8343
..                           ...             ...       ...       ...
71  Diamond Princess cruise ship          Others  35.44370  139.6380
72          San Diego County, CA              US  32.71570 -117.1611
73               San Antonio, TX              US  29.42410  -98.4936
74                           NaN           Egypt  26.82060   30.8025
75                           NaN            Iran  32.42790   53.6880

[76 rows x 4 columns]

In [50]:
#rename Province/State 'NaN' entries with 'Unknown'
filled_cleaned_confirmed_df = new_confirmed_df.replace(np.NaN, 'Unknown', regex=True)
values = {'Province/State': 'Unknown'} 
new_confirmed_df.fillna(value=values)

                  Province/State  Country/Region       Lat      Long
0                          Anhui  Mainland China  31.82571  117.2264
1                        Beijing  Mainland China  40.18238  116.4142
2                      Chongqing  Mainland China  30.05718  107.8740
3                         Fujian  Mainland China  26.07783  117.9895
4                          Gansu  Mainland China  36.06110  103.8343
..                           ...             ...       ...       ...
71  Diamond Princess cruise ship          Others  35.44370  139.6380
72          San Diego County, CA              US  32.71570 -117.1611
73               San Antonio, TX              US  29.42410  -98.4936
74                       Unknown           Egypt  26.82060   30.8025
75                       Unknown            Iran  32.42790   53.6880

[76 rows x 4 columns]

In [ ]:
#cleaned deaths_df
new_deaths_df = deaths_df[["Province/State", ""]]